body {
  background: linear-gradient(to right, #5f72bd, #9b23ea);
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
  min-height: 100%;
}
h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}
header p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.container {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  background-color: rgba(255,255,255,0.1);
  width: 300px;
  height: 300px;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}
.project:hover {
  transform: scale(1.1);
}
.project h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.7));
  width: 100%;
}
.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.project img:hover {
  transform: scale(1.1);
}

footer {
  background: black;
}

header,
footer {
  min-height: 40px; 
}

body,
html {
    margin: 0;
    padding: 0;
}

header,
main,
footer {
  margin: 0;
  display: block;
}

.contentcontainer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}